
.card-home {
    width: 100%;
    padding: 5px;
    float: center;
    border-radius: 5px;
}

.subcard-home {
    max-width: 25%;
    max-height: 350px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;

}